.box_side{
    height: 98vh;
    background: rgb(56, 55, 55);
    padding-top: 80px;
}

.list-group-flush .list-group-item{
    background: rgb(56, 55, 55);
}

.list-group-flush .list-group-item a{
    color: #fff !important;
    font-size: 24px;
}