<h1>Welcome {{ userProfile.fullname }}</h1>
<div class="row">
    <div class="col-md-6">
        <chart [type]="typeChart1" [data]="dataChart1" [options]="optionsChart1" style="height: 450px"></chart>
    </div>
    <div class="col-md-6">
        <chart [type]="typeChart" [data]="dataChart" [options]="optionsChart" style="height: 450px"></chart>
      </div>
</div>

<table class="table table-bordered table-striped table-hover mt-5">
    <thead>
        <tr class="bg-primary text-light">
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Detail</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of dataProduct">
            <td>{{ p.id }}</td>
            <td><img src="{{imgURL}}{{p.product_image}}" width="50"></td>
            <td>{{ p.product_name }}</td>
            <td>{{ p.product_detail | slice:0:100 }}..</td>
            <td>{{ p.product_price }}</td>
            <td>{{ p.product_qty }}</td>
            <td>{{ p.product_date }}</td>
            <td>{{ p.product_status }}</td>
        </tr>
    </tbody>
</table>


